extends ./layout/head

block content
  include ./layout/navbar
  .ps-content
    .ps-row.ps-padding-64
      h2= plato.name
      h4= plato.description
      img(
        src=plato.src
        class="ps-round ps-image ps-opacity-min"
        width="600"
        alt=plato.name
      )
      p= ' U$S ' + plato.price.toFixed(2)
